@import './base.css';

.header {
	min-height: 100vh;
	background-image: url("./images/bg-tablet-pattern.svg");
	background-position: right -100px top -100px;
	background-size: contain;
	background-size: 120%;
	background-repeat: no-repeat;

	display: grid;
	grid-template-columns: 0.1fr 1.8fr 0.1fr;
	grid-template-rows: 6em auto;
}